
*{
    box-sizing: border-box;  
}

body{
    margin: 0;
    padding: 0;
    background-color: #eee;
 
}

header{
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 166, 0, 0.473);
    padding: 5px;
    border-radius: 20px;
}

 header h3{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
 }

 section{
    display: flex;
    justify-content: space-around;
    
 }
 section img{
    margin-top: auto;
 }

 .box{
    margin-top: 3%;
    background-color: rgba(255, 166, 0, 0.473);
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 50px;

 }

 .tol{
    display: flex;
    align-items: center;
 }

 .table{
    background-color: #eee;
    padding: 130px;
    height: 350px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    border-radius: 50%;
    max-width: 350px;
    overflow: hidden;
 }


.tab{
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 100%;
    transition: all 0.5s ease;

}

.top-b, .bottom-b {
    border: 10px solid #FFA600;
}

.top-b {
    border-top-right-radius: 50%;
    border-bottom: 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 30%;
    width: 80px;
    height: 40px;
}

.bottom-b {
   border-bottom-right-radius: 50%;
   border-top-right-radius: 30%;
   border-bottom-left-radius: 5px;
   width: 80px;
   height: 60px;
   border-top: 7px solid #FFA600;
}

.top-a, .bottom-a {
    width: 80px;
    height: 50px;
}



.top-a {
    border-top-right-radius: 50%;
    border-bottom: 5px;
    border-top-left-radius: 50%;
    border: 10px solid #FFA600;
    
}

.bottom-a {
   border-left: 10px solid #FFA600;
   border-right: 10px solid #FFA600;
}

.top-c, .bottom-c {
    width: 70px;
    height: 50px;
}

.top-c {
    border-left: 10px solid #FFA600;
    border-top: 10px solid #FFA600;
    border-top-left-radius: 50%;
    border-top-right-radius: 30%;
    
}

.bottom-c {
    border-left: 10px solid #FFA600;
    border-bottom: 10px solid #FFA600;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 30%;
}


.top-d, .bottom-d {
    border: 10px solid #FFA600;
    width: 80px;
    height: 50px;
}

.top-d {
    border-top-right-radius: 50%;
    border-bottom: none;
    border-top-left-radius: 5px;
    
}

.bottom-d {
    border-top: none;
   border-bottom-right-radius: 50%;
   border-bottom-left-radius: 5px;
}

.top-e, .bottom-e {
    border: 10px solid #FFA600;
}

.top-e {
    border-bottom: 10px;
    border-top-left-radius: 5px;
    border-right: none;
    width: 80px;
    height: 40px;
}

.bottom-e {
   border-bottom-left-radius: 5px;
   border-right: none;
   width: 80px;
   height: 60px;
}


.top-f, .bottom-f {
    border: 10px solid #FFA600;
}

.top-f {
    border-bottom: 10px;
    border-top-left-radius: 5px;
    border-right: none;
    width: 80px;
    height: 40px;
    
}

.bottom-f {
   border-bottom-left-radius: 5px;
   border-right: none;
   border-bottom: none;
   width: 80px;
   height: 60px;
}


.top-g, .bottom-g {
    width: 70px;
    height: 50px;
}

.top-g {
    border-left: 10px solid #FFA600;
    border-top: 10px solid #FFA600;
    border-top-left-radius: 50%;
    border-top-right-radius: 30%;
    
}

.bottom-g {
    border-left: 10px solid #FFA600;
    border-bottom: 10px solid #FFA600;
    border-right: 10px solid #FFA600;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 30%;
}


.top-h, .bottom-h {
    border: 10px solid #FFA600;
}

.top-h {
    border-bottom: 10px;
    border-top-left-radius: 5px;
    border-top: none;
    width: 80px;
    height: 40px;
}

.bottom-h {
   border-bottom-left-radius: 5px; 
   border-bottom: none;
   width: 80px;
   height: 60px;
}





